@font-face {
    font-family: FC Paragraph;
    src: url(fonts/FCParagraph[Non-commercial]-Medium.ttf) format('truetype');
}

h1 {
    font-family: FC Paragraph;
}

h3 {
    font-family: FC Paragraph;
}

h4 {
    font-family: FC Paragraph;
}

h5 {
    font-family: FC Paragraph;
}

body {
    margin-top: 20px;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.table-bordered thead td,
.table-bordered thead th {
    border-bottom-width: 2px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
}


.bg-sky.box-shadow {
    box-shadow: 0px 5px 0px 0px #00a2a7
}

.bg-orange.box-shadow {
    box-shadow: 0px 5px 0px 0px #af4305
}

.bg-green.box-shadow {
    box-shadow: 0px 5px 0px 0px #4ca520
}

.bg-yellow.box-shadow {
    box-shadow: 0px 5px 0px 0px #dcbf02
}

.bg-pink.box-shadow {
    box-shadow: 0px 5px 0px 0px #e82d8b
}

.bg-purple.box-shadow {
    box-shadow: 0px 5px 0px 0px #8343e8
}

.bg-lightred.box-shadow {
    box-shadow: 0px 5px 0px 0px #d84213
}


.bg-sky {
    background-color: #02c2c7
}

.bg-orange {
    background-color: #e95601
}

.bg-green {
    background-color: #5bbd2a
}

.bg-yellow {
    background-color: #f0d001
}

.bg-pink {
    background-color: #ff48a4
}

.bg-purple {
    background-color: #9d60ff
}

.bg-lightred {
    background-color: #ff5722
}

.padding-15px-lr {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-5px-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}

.margin-10px-bottom {
    margin-bottom: 10px;
}

.border-radius-5 {
    border-radius: 5px;
}

.margin-10px-top {
    margin-top: 10px;
}

.font-size14 {
    font-size: 14px;
}

.text-light-gray {
    color: #d6d5d5;
}

.font-size13 {
    font-size: 13px;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.navbar {
    background-color: #D0AD92ff;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    background-color: #229310ff;
    border: #229310ff;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    margin: 8px 8px 8px auto;
    font-size: 16px;
}

.navbar button {
    float: right;
    background-color: #229310ff;
    /* Change the background color of the button */
    color: white;
    /* Change the text color of the button */
    border: none;
    margin: 8px 8px auto auto;
    font-size: 16px;
    cursor: pointer;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #FEE8D8ff !important;
}

.user_card {
    width: 600px;
    margin-top: auto;
    margin-bottom: auto;
    background: #D0AD92ff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.form_container {
    margin-top: 20px;
}

#form-title {
    color: #000000;
    --champagne-pink: #FEE8D8ff;
    --persimmon: #EA6625ff;
    --tan: #D0AD92ff;
    --eerie-black: #222222ff;
    --forest-green: #229310ff;
}

.login_btn {
    width: 100%;
    background: #229310ff !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #EA6625ff !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages {
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.center {
    margin: auto;
    width: 60%;
    /* Adjust the width of the div as needed */
    padding: 20px;
}

.search_btn {
    background-color: #229310ff;
    color: white;
    border: #229310ff;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}

.select_btn {
    background-color: #229310ff;
    color: white;
    border: #229310ff;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px;
}

