{% extends "layouts/base_select_subject.html" %}

{% block title %} Select Subject page {% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<style>
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: #ffffff !important;
    }
</style>

<div class="container">
    <div class="timetable-img text-center">
        <img src="img/content/timetable.png" alt="">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr class="bg-light-gray">
                    <th class="text-uppercase">Time
                    </th>
                    <th class="text-uppercase">9:00</th>
                    <th class="text-uppercase">10:00</th>
                    <th class="text-uppercase">11:00</th>
                    <th class="text-uppercase">12:00</th>
                    <th class="text-uppercase">13:00</th>
                    <th class="text-uppercase">14:00</th>
                    <th class="text-uppercase">15:00</th>
                    <th class="text-uppercase">16:00</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">Monday</td>

                    {%for row in users %}
                    <td>
                    <span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">{{row.sub_id.name}}</span>
                    <div class="margin-10px-top font-size14">{{row.sub_id.code}}</div>
                    <div class="font-size13 text-light-gray">{{row.sub_id.prof}}</div>
                    </td>
                     {% endfor %}

                
                </tr>

                <tr>
                    <td class="align-middle">Tuesday</td>
                    <td>
                       
                    </td>
                    <td class="bg-light-gray">

                    </td>
                    <td>
                    
                    </td>
                    <td>
                     
                    </td>
                    <td>
                      
                    </td>
                    <td class="bg-light-gray">

                    </td>
                </tr>

                <tr>
                    <td class="align-middle">Wednesday</td>
                    <td>
                    
                    </td>
                    <td>
                     
                    </td>
                    <td>
                    
                    </td>
                    <td>
                   
                    </td>
                    <td>
                  
                    </td>
                    <td>
                  
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">Thursday</td>
                    <td class="bg-light-gray">

                    </td>
                    <td>
                      
                    </td>
                    <td>
                   
                    </td>
                    <td>
                    
                    </td>
                    <td class="bg-light-gray">

                    </td>
                    <td>
                    
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">Friday</td>
                    <td>
                    
                    </td>
                    <td>
                     
                    </td>
                    <td class="bg-light-gray">

                    </td>
                    <td>
                 
                    </td>
                    <td>
                   
    
                    </td>
                    <td>
      
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-4">

        <h1> ค้นหาวิชา </h1>

        <form class="form-inline my-2 my-lg-0">
            <div class="input-group mb-3">
                <input class="form-control" name="q" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>

        {%for row in sub_name %}
        <div class="mt-2">
            <div class="card w-100">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <h5 class="card-title">{{row.code}} </h5>&nbsp;&nbsp;&nbsp;
                        <h5 class="card-title">{{row.name}} </h5>&nbsp;&nbsp;&nbsp;
                        <h5 class="card-title">{{row.prof}} </h5>&nbsp;&nbsp;&nbsp;
                        <p class="card-text"></p>
                    </div>
                    <form method="post" action="{% url 'selects_subject' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ row.id }}">
                        <button type="submit" class="btn btn-primary">Select</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <div class="mt-4">

        <h1> วิชาที่สามารถลงได้ในเทอมนี้ </h1>

        {% for row in sub_objects %}  
        <div class="card w-100">
            <div class="card-body">
                <div class="input-group mb-3">
                    <h5 class="card-title">{{row.code}} </h5>&nbsp;&nbsp;&nbsp;
                    <h5 class="card-title">{{row.name}} </h5>&nbsp;&nbsp;&nbsp;
                    <h5 class="card-title">{{row.prof}} </h5>&nbsp;&nbsp;&nbsp;
                    <p class="card-text"></p>
                </div>
            <form method="post" action="{% url 'selects_subject' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ row.id }}">
                <button type="submit" class="btn btn-primary">Select</button>
            </form>
            </div>
        </div>
    {% endfor %}

    </div>
</div>



{% endblock %}