{% extends "layouts/base_select_subject.html" %}

{% block title %} Select Subject page {% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<style>
    * {
        font-family: FC Paragraph;
    }

    body {
        margin: 0;
        font-family: FC Paragraph;
        font-size: 17px;
        color: #000000;
        background-color: #FEE8D8ff;
    }
    #go-top-button {
        display: none;
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #EA6625ff;
        color: #fff;
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;
        text-align: center;
        align-items: center;
    }
</style>

<div class="box">
    <div class="container">
        <section id="section-a">
            <p>Schedule</p>
        </section>

        <!-- ตาราง -->
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr class="bg-light-gray">
                        <th class="text-uppercase">Time
                        </th>
                        <th class="text-uppercase">9:00-10:00</th>
                        <th class="text-uppercase">10:00-11:00</th>
                        <th class="text-uppercase">11:00-12:00</th>
                        <th class="text-uppercase">Break</th>
                        <th class="text-uppercase">13:00-14:00</th>
                        <th class="text-uppercase">14:00-15:00</th>
                        <th class="text-uppercase">15:00-16:00</th>
                        <th class="text-uppercase">16:00-17:00</th>
                        <th class="text-uppercase">17:00-18:00</th>
                        <th class="text-uppercase">18:00-19:00</th>
                        <th class="text-uppercase">19:00-20:00</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td class="align-middle">Monday</td>
                        {%for row in users %}
                        {%if row.sub_id.day == 'M' %}
                        <td>
                            <span class="text-black font-size16 xs-font-size16">{{row.sub_id.name}}</span>
                            <div class="margin-10px-top font-size14">{{row.sub_id.code}}</div>
                            <div class="font-size13 text-light-gray">{{row.sub_id.prof}}</div>
                            <form method="post" action="{% url 'selects_subject' %}" name="delete_btn">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ row.sub_id.id }}">
                                <button type="submit" class="delete_btn" name="delete_btn">Delete</button>
                            </form>

                        </td>

                        {%endif%}
                        {%endfor%}


                    </tr>

                    <tr>
                        <td class="align-middle">Tuesday</td>
                        {%for row in users %}
                        {%if row.sub_id.day == 'T' %}
                        <td>
                            <span class="text-black font-size16 xs-font-size16">{{row.sub_id.name}}</span>
                            <div class="margin-10px-top font-size14">{{row.sub_id.code}}</div>
                            <div class="font-size13 text-light-gray">{{row.sub_id.prof}}</div>

                            <form method="post" action="{% url 'selects_subject' %}" name="delete_btn">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ row.sub_id.id }}">
                                <button type="submit" class="delete_btn" name="delete_btn">Delete</button>
                            </form>

                        </td>
                        {%endif%}
                        {%endfor%}
                    </tr>

                    <tr>
                        <td class="align-middle">Wednesday</td>
                        {%for row in users %}
                        {%if row.sub_id.day == 'W' %}
                        <td>
                            <span class="text-black font-size16 xs-font-size16">{{row.sub_id.name}}</span>
                            <div class="margin-10px-top font-size14">{{row.sub_id.code}}</div>
                            <div class="font-size13 text-light-gray">{{row.sub_id.prof}}</div>

                            <form method="post" action="{% url 'selects_subject' %}" name="delete_btn">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ row.sub_id.id }}">
                                <button type="submit" class="delete_btn" name="delete_btn">Delete</button>
                            </form>

                        </td>
                        {%endif%}
                        {%endfor%}
                    </tr>

                    <tr>
                        <td class="align-middle">Thursday</td>
                        {%for row in users %}
                        {%if row.sub_id.day == 'H' %}
                        <td>
                            <span class="text-black font-size16 xs-font-size16">{{row.sub_id.name}}</span>
                            <div class="margin-10px-top font-size14">{{row.sub_id.code}}</div>
                            <div class="font-size13 text-light-gray">{{row.sub_id.prof}}</div>

                            <form method="post" action="{% url 'selects_subject' %}" name="delete_btn">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ row.sub_id.id }}">
                                <button type="submit" class="delete_btn" name="delete_btn">Delete</button>
                            </form>

                        </td>
                        {%endif%}
                        {%endfor%}
                    </tr>

                    <tr>
                        <td class="align-middle">Friday</td>
                        {%for row in users %}
                        {%if row.sub_id.day == 'F' %}
                        <td>
                            <span class="text-black font-size16 xs-font-size16">{{row.sub_id.name}}</span>
                            <div class="margin-10px-top font-size14">{{row.sub_id.code}}</div>
                            <div class="font-size13 text-light-gray">{{row.sub_id.prof}}</div>

                            <form method="post" action="{% url 'selects_subject' %}" name="delete_btn">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ row.sub_id.id }}">
                                <button type="submit" class="delete_btn" name="delete_btn">Delete</button>
                            </form>

                        </td>
                        {%endif%}
                        {%endfor%}
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- ค้นหาวิชา -->
        <section id="section-a">

            <h1> ค้นหาวิชา </h1>

            <form class="search-field">
                <section id="section-c">
                    <input class="form-control" name="q" type="search" placeholder="Search" aria-label="Search">
                    <button class="select_btn" type="submit">Search</button>
                </section>
            </form>

            {%for row in sub_name %}
            <section id="section-a">
                <div class="subject-card">
                    <h5>{{row.code}} </h5>&nbsp;&nbsp;&nbsp;
                    <h5>{{row.name}} </h5>&nbsp;&nbsp;&nbsp;
                    <h5>{{row.prof}} </h5>&nbsp;&nbsp;&nbsp;
                    <p class="subject-text"></p>
                    <form method="post" action="{% url 'selects_subject' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ row.id }}">
                        <button type="submit" class="select_btn" name="select_btn">Select</button>
                    </form>
                </div>
            </section>
            {% endfor %}

        </section>


        <!-- วิชาที่สามารถลงได้ในเทอมนี้ -->
        <section id="section-a">

            <h1> วิชาที่สามารถลงได้ในเทอมนี้ </h1>

            {% for row in sub_objects %}

            <section id="section-a">
                <div class="subject-card">

                    <h5>{{row.code}} </h5>&nbsp;&nbsp;&nbsp;
                    <h5>{{row.name}} </h5>&nbsp;&nbsp;&nbsp;
                    <h5>{{row.prof}} </h5>&nbsp;&nbsp;&nbsp;
                    <p class="subject-text"></p>

                    <form method="post" action="{% url 'selects_subject' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ row.id }}">
                        <button type="submit" class="select_btn" name="select_btn">Select</button>
                    </form>

                    {% for user in users %}
                    {% if user.sub_id.code == row.code and user.sub_id.section == row.section and user.sub_id.prof == row.prof %}
                    <form method="post" action="{% url 'selects_subject' %}" name="delete_btn">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ row.id }}">
                        <button type="submit" class="delete_btn" name="delete_btn">Delete</button>
                    </form>

                    {% endif %}
                    {% endfor %}

                </div>
            </section>

            {% endfor %}

        </section>


        <button id="go-top-button" onclick="goToTop()">Top</button>
        
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () { scrollFunction() };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("go-top-button").style.display = "block";
                } else {
                    document.getElementById("go-top-button").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function goToTop() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        
    </div>
</div>


{% endblock %}