{% extends "layouts/base_select_subject.html" %}

{% block title %} Select Subject page {% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<div class="container">
    <div class="timetable-img text-center">
        <img src="img/content/timetable.png" alt="">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr class="bg-light-gray">
                    <th class="text-uppercase">Time
                    </th>
                    <th class="text-uppercase">9:00</th>
                    <th class="text-uppercase">10:00</th>
                    <th class="text-uppercase">11:00</th>
                    <th class="text-uppercase">12:00</th>
                    <th class="text-uppercase">13:00</th>
                    <th class="text-uppercase">14:00</th>
                    <th class="text-uppercase">15:00</th>
                    <th class="text-uppercase">16:00</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle">Monday</td>
                    <td>
                        <span
                            class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">Dance</span>
                        <div class="margin-10px-top font-size14">9:00-10:00</div>
                        <div class="font-size13 text-light-gray">Ivana Wong</div>
                    </td>
                    <td>
                        <span
                            class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                        <div class="margin-10px-top font-size14">9:00-10:00</div>
                        <div class="font-size13 text-light-gray">Marta Healy</div>
                    </td>

                    <td>
                        <span
                            class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                        <div class="margin-10px-top font-size14">9:00-10:00</div>
                        <div class="font-size13 text-light-gray">Ivana Wong</div>
                    </td>
                    <td>
                        <span
                            class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Dance</span>
                        <div class="margin-10px-top font-size14">9:00-10:00</div>
                        <div class="font-size13 text-light-gray">Ivana Wong</div>
                    </td>
                    <td>
                        <span
                            class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
                        <div class="margin-10px-top font-size14">9:00-10:00</div>
                        <div class="font-size13 text-light-gray">Kate Alley</div>
                    </td>
                    <td>
                        <span
                            class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                        <div class="margin-10px-top font-size14">9:00-10:00</div>
                        <div class="font-size13 text-light-gray">James Smith</div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">Tuesday</td>
                    <td>
                        <span
                            class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                        <div class="margin-10px-top font-size14">10:00-11:00</div>
                        <div class="font-size13 text-light-gray">Ivana Wong</div>
                    </td>
                    <td class="bg-light-gray">

                    </td>
                    <td>
                        <span
                            class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
                        <div class="margin-10px-top font-size14">10:00-11:00</div>
                        <div class="font-size13 text-light-gray">Kate Alley</div>
                    </td>
                    <td>
                        <span
                            class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                        <div class="margin-10px-top font-size14">10:00-11:00</div>
                        <div class="font-size13 text-light-gray">Marta Healy</div>
                    </td>
                    <td>
                        <span
                            class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                        <div class="margin-10px-top font-size14">10:00-11:00</div>
                        <div class="font-size13 text-light-gray">James Smith</div>
                    </td>
                    <td class="bg-light-gray">

                    </td>
                </tr>

                <tr>
                    <td class="align-middle">Wednesday</td>
                    <td>
                        <span
                            class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                        <div class="margin-10px-top font-size14">11:00-12:00</div>
                    </td>
                    <td>
                        <span
                            class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                        <div class="margin-10px-top font-size14">11:00-12:00</div>
                    </td>
                    <td>
                        <span
                            class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                        <div class="margin-10px-top font-size14">11:00-12:00</div>
                    </td>
                    <td>
                        <span
                            class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                        <div class="margin-10px-top font-size14">11:00-12:00</div>
                    </td>
                    <td>
                        <span
                            class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                        <div class="margin-10px-top font-size14">11:00-12:00</div>
                    </td>
                    <td>
                        <span
                            class="bg-lightred padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Break</span>
                        <div class="margin-10px-top font-size14">11:00-12:00</div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">Thursday</td>
                    <td class="bg-light-gray">

                    </td>
                    <td>
                        <span
                            class="bg-purple padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Art</span>
                        <div class="margin-10px-top font-size14">12:00-1:00</div>
                        <div class="font-size13 text-light-gray">Kate Alley</div>
                    </td>
                    <td>
                        <span
                            class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Dance</span>
                        <div class="margin-10px-top font-size14">12:00-1:00</div>
                        <div class="font-size13 text-light-gray">Ivana Wong</div>
                    </td>
                    <td>
                        <span
                            class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                        <div class="margin-10px-top font-size14">12:00-1:00</div>
                        <div class="font-size13 text-light-gray">Ivana Wong</div>
                    </td>
                    <td class="bg-light-gray">

                    </td>
                    <td>
                        <span
                            class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                        <div class="margin-10px-top font-size14">12:00-1:00</div>
                        <div class="font-size13 text-light-gray">Marta Healy</div>
                    </td>
                </tr>

                <tr>
                    <td class="align-middle">Friday</td>
                    <td>
                        <span
                            class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                        <div class="margin-10px-top font-size14">1:00-2:00</div>
                        <div class="font-size13 text-light-gray">James Smith</div>
                    </td>
                    <td>
                        <span
                            class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                        <div class="margin-10px-top font-size14">1:00-2:00</div>
                        <div class="font-size13 text-light-gray">Ivana Wong</div>
                    </td>
                    <td class="bg-light-gray">

                    </td>
                    <td>
                        <span
                            class="bg-pink padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">English</span>
                        <div class="margin-10px-top font-size14">1:00-2:00</div>
                        <div class="font-size13 text-light-gray">James Smith</div>
                    </td>
                    <td>
                        <span
                            class="bg-green padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Yoga</span>
                        <div class="margin-10px-top font-size14">1:00-2:00</div>
                        <div class="font-size13 text-light-gray">Marta Healy</div>
                    </td>
                    <td>
                        <span
                            class="bg-yellow padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13">Music</span>
                        <div class="margin-10px-top font-size14">1:00-2:00</div>
                        <div class="font-size13 text-light-gray">Ivana Wong</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-4">

        <h1> ค้นหารายวิชาที่ลงได้ </h1>

        <form class="form-inline my-2 my-lg-0">
            <div class="input-group mb-3">
                <input class="form-control" name="q" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>

        {%for row in sub_name %}
        <div class="card w-100">
            <div class="card-body">
                <div class="input-group mb-3">
                    <h5 class="card-title">{{row.code}} </h5>&nbsp;&nbsp;&nbsp;
                    <h5 class="card-title">{{row.name}} </h5>&nbsp;&nbsp;&nbsp;
                    <h5 class="card-title">{{row.prof}} </h5>&nbsp;&nbsp;&nbsp;
                    <p class="card-text"></p>
                </div>
                <a href="#" class="btn btn-primary">Select</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="mt-4">
        <h1> วิชาที่สามารถลงได้ในเทอมนี้ </h1>

        {%for row in sub_date %}
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">{{row.name}} </h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Select</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}