{% extends "layouts/base.html" %}


{% block title %} Login page {% endblock %}

{% block content %}

<h2>Sign-up</h2>

{% if error_message %}
  <p>{{ error_message }}</p>
{% endif %}

<div class="register">
  <form method="post">
    {% csrf_token %}
    <label class="form-label" for="form2Example1">Email address</label>
    {{ form.username }}
    <label class="form-label" for="form2Example1">Password</label>
    {{ form.password1 }}
    {{ form.password2 }}
    <button class="btn btn-primary" type="submit">submit</button>
  </form>
</div>


{% endblock %}
