{% extends "layouts/base.html" %}

{% block title %} Schedule of {{user.username}} {% endblock %}

{% block content %}

<h1> Schedule {{user.username}}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
    </tr>
  </thead>
  <tbody>
{%for item in subject %}
      <tr>
        <th scope="row">{{item.userid}}</th>
        <td>{{item.subject_name}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>



{% csrf_token %}
{% endblock %}
